.container {
    display: flex;
    width: clamp(200px, 80vw, 425px);
    height: clamp(200px, 80vw, 425px);
    flex-direction: column;
}

.row {
    height: 100%;
    display: flex;
}

.status {
    margin-bottom: 0.5rem;
    text-align: left;
}
